@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
}







/* ################# Utility Classes ######################### */
.large-text{
    font-size: 3.5rem;

}
.ex-large-text{
    font-size: 7.5rem;
}
.medium-text{
    font-size: 2.2rem;

}
.less-medium-text{
    font-size: 1.8rem;
}
.small-text{
    font-size: 1.2rem;
}
.dark-text{
    color: rgb(9, 10, 10);
}
.dark-blue-text{
    color: #234567;
}
.light-text{
    color: rgb(192, 240, 241);
}
.light-background{
    background-color: rgb(192, 240, 241);
}
.light-white-background{
    background-color: rgb(233, 244, 247);
}
.dark-background{
    background-color: rgb(9, 10, 10);
}
.white-text{
    color: whitesmoke;
}
.dark-blue-text{
    color: #234567;
}
.bold-font{
    font-weight: 700;
    letter-spacing: 0.1em;
}
.letter-spacing{
    letter-spacing: 0.2em;
}
.upper-case{
    text-transform: uppercase;
}
.dark-blue-background{
    background-color: #234567;
}
.linear-gradient-bg{
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





:root{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header.header{
    height: 100vh;
    background: linear-gradient(rgba(2,37,48,0.6),rgba(2,37,48,0.6)) , url('../IMAGES/p1-homepage-1.jpg');
    /* background: url('../IMAGES/p1-hompage-1.jpg'); */
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

}
 .logo{
    width: 5vw;
    margin: 2vw 0px 2vw 1vw;
    
}
.nav-items a{
    text-decoration: none;
}
.nav-bar .nav-items a:link,
.nav-bar .nav-items a:visited{
    color: rgb(192, 240, 241);

}
.nav-bar .nav-items a:hover{
    color: rgb(224, 24, 24);
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid rgb(224, 24, 24);
    /* text-decoration: underline; */
     /* Don't use this we will not
    be able to adjust the underline as we want 
    instead use border-bottom */
}
.nav-bar{
    padding: 1rem;
}
.nav-bar .logo{
    float: left;
}
.nav-bar .nav-items{
    float: right;
    margin-top: 2rem;
}
.nav-bar::after{
    content: '';
    display: block;
    clear: both;
}
.nav-bar .nav-items .item{
    list-style-type: none;
    display: inline-block;
    letter-spacing: 0.01em;
    padding: 1rem;
    text-transform: uppercase;
    /* word-spacing: normal; */
    /* margin-top: 2rem; */
    /* position: relative; */
    /* top: 3rem; */
}
.button{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20em;
    padding: 0.6em;
    width: 300px;
}
div.header-content h1.main-heading{
    text-align: center;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$ Header Content Styling$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */


 .header-content{
    padding: 4em;
    max-width: 85vw;
    max-height: 60vh;
    height: 50vh;
    width: 80vw;
    margin: 6em auto;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.01),rgba(255,255,255,0.01));
 }
 .main-heading,.para-5,.explore-button{
     margin: 1em;
     text-align: center;
 }
 .explore-button{
     margin-top:  2em ;
     padding: 1em; ;

 }
.explore-button:hover{
    color: #234567;

}


/* ##########################  Section - 1 Styling ##################*/
.section-1{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 15vh ;
    height: auto;
}
.row{
    height:50vh ;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

}
.row .text-section,
.row .image-section{
    width: 50%;
    height: 100%;
}
.row-1 .text-section,
.row-2 .image-section,
.row-3 .text-section,
.row-4 .image-section{
    float: right;
}
.row-4 .text-section,
.row-1 .image-section,
.row-2 .text-section,
.row-3 .image-section{
    float: left;
}
.row-1,.row-2,.row-3{
    margin-bottom: 15vh;
}
.row .image-section .image{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-section{
    padding:3rem;
}
.sub-heading{
    padding-bottom: 2rem;
}
.text-section p{
    padding-top: 2rem;
}
.more-button{
    display: inline-block;
    padding: 1rem;
    background-color: rgb(192, 240, 241) ;
    width: 15rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5000px;
    font-size: 1.8rem;
    border: 2px solid rgb(9, 10, 10);
    margin-top: 1rem;
}
.more-button:hover{
    background-color: #333;
    color: #eee;
    border: 2px solid #aaa;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

/* ########################## Features Section Styling ######################## */

.features .box{
    text-align: center;
    width: 33%;
    height: 275px;
    float: left;
    padding: 3rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

}

.box-1 ,.box-3{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}
.box-2{
    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.features div{
    text-align: center;
}
.features .box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.box-wrapper{
    padding: 5em;
    height: auto;


}

/* ######################## Footer Styling ################# */



.footer{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    height: auto;
    padding: 3vh;
}

.footer .facebook:hover{
    color: #000;
}
.footer .instagram:hover{
    color: #000;
}
.footer .twitter:hover{
    color: #000;
}
.facebook,.instagram,.twitter{
    margin: 2em;
}
.social-media-links{
    margin-bottom: 1em;
}





/* ######################## About Page Styling ################### */



.about{
    padding: 2em;
}
.about-us-heading{
    border-bottom: 7px solid #085078;
    padding-bottom: 0.5em ;
}
.about .para-1{
    padding-top: 2em;
    padding-bottom: 2em;
}
.about .p1{
    word-spacing: 0.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 1em;
}
.about .sub-container{
    padding: 0px 10rem;

}
.about .sub-container::after{
    content: '';
    display: block;
    clear: both;
}
.about .sub-cont-left{
    float: left;
}
.about .sub-cont-right{
    float: right;
}





.records::after{
    content: '';
    display: block;
    clear: both;
}
.records div{
    float: left;


}
.record-1,.record-2,.record-3,.record-4{
    text-align: center;
    width: 25%;

}
.records .record-1,
.records .record-2,
.records .record-3,
.records .record-4{
margin: 6em 0em ;
}
.records .record-1 span,
.records .record-2 span,
.records .record-3 span,
.records .record-4 span{
    display: inline-block;
    padding: 0.5em 0em;
}





.reach-us{
    margin-top: 5vh;
    text-align: center;
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.541);
}
.reach-us::after{
    content: '';
    display: block;
    clear: both;
}
.reach-us .cont-1{
    float: left;
    padding: 2em;
    margin: 0.5em 0em;
    text-align: center;

}
.reach-us .cont-2{
    float: right;
    padding: 2em;
    margin: 0.5em 0.5em;
    text-align: center;
    border: 2px solid rgb(192, 240, 241);

}
.reach-us .cont-2 a:hover{
    color: #F8CDDA;

}
.reach-us .cont-2 a{
    text-decoration: none;
    text-transform: uppercase;
}






/* ################################# Contact Us Page Styling ############################## */


.contact-us-section .content{
    height: 680px;
}
.contact-us-section{
    height: auto;
}
.contact-us-section .contact-page-wrapper{
    margin-top: 4em;
    margin-bottom: 4em;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.445);

}
.contact-us-section .contact-page-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.contact-page-wrapper .content div{

    padding: 1em;
}
.contact-us-section .contact-page-wrapper .contact-address{
    width: 49%;
    float: left;
}
.contact-us-section .contact-page-wrapper .contact-form{
    width: 49%;
    float: right;
}
.contact-us-section .contact-page-wrapper .c-4 img{
    max-width: 100%;
   min-height: 40rem;
   object-fit: cover;
   object-position: left;
}
.contact-us-section .contact-page-wrapper h2{
    padding: 0.5em 0px;
}

/* ################### Form Styling #################### */

.contact-us-section .contact-form h2{
    border-bottom: 4px solid #234567;
    padding: 0em 0em;
}
.contact-us-section .contact-form .form-para{
    padding: 1em 0em ;
}
.contact-us-section .contact-form{
    padding: 1em;
}
.contact-us-section .contact-form .form-groups textarea{
    width: 100%;
    height: 300px;

}

.contact-us-section .contact-form .form-groups .labels,
.contact-us-section .contact-form .form-groups .inputs{
display: block;
width: 100%;
}
.contact-us-section .contact-form .form-groups .astrisk::after{
    content: '*';
    color: red;
}
.contact-us-section .contact-form .form-groups{
    padding: 1em 0em;
}

.contact-us-section .contact-form .form-button{
    display: block;
    margin: 0.63em auto;
    padding: 0.2em 1em;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #234567;
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

}



/* ######################### ThankYou Page styling ####################### */


.ty-body{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}
.ty-body div{
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 600;
    color: whitesmoke;
    position: relative;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%) ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.7rem;
}



/* 



